<div class="container">

  <div class="row">
    
    <div class="col-md-6 col-md-offset-3 text-center">
      
      <br>
      <h4>ERROR 404</h4>
      <br>
      <h2><i class="fa fa-exclamation-triangle" style="color:red"></i>
          <h2>Page not found!!! <small>404 error</small></h2>
      <br>
      <br>   
      <p><a href="/admin">Click here</a> to visit Admin</p>
      <p><a href="/api/v1/department/?format=json">Click here</a> to visi API</p>
      <p><a href="/api/v1/employee/">Error 500</a> to visit error 500</p>
    </div>

  </div>

</div>